<div class="row">
    <div class="col-lg-9">
        <div class="panel panel-default">
			<%= form_for(@cliente) do |f| %>
				 <% if @cliente.errors.any? %>
						<div id="error_explanation">
							<h2>Descobrimos <%= pluralize(@cliente.errors.count, "erro") %> no preenchimento do formulário :(</h2>
							<ul>
							<% @cliente.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
							</ul>
						</div>
					<% end %>
	            <div class="panel-body">
	                <div class="panel-group" id="accordion">
	                    <div class="panel panel-default">
	                        <div class="panel-heading">
	                            <h4 class="panel-title">
	                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">INFORMAÇÕES PESSOAIS</a>
	                            </h4>
	                        </div>
	                        <div id="collapseOne" class="panel-collapse collapse in">
	                            <div class="panel-body">
						            <div class="form-group">
										</br>
										<div class="field">
											<%= f.label :nome %>
											<%= f.text_field :nome, class: "form-control"%>
										</div>
										</br>

										<div class="field">
											<%= f.label :cpf %>
											<%= f.text_field :cpf, class: "form-control" %>
										</div>
										</br>

										<div class="field">
											<%= f.label :rg %>
											<%= f.text_field :rg, class: "form-control" %>
										</div>
										</br>

										<div class="field">
											<%= f.label :data_nasc %>
											<%= f.date_select :data_nasc, {:start_year => 1999, :end_year => 1917, order: [:day, :month, :year]}, {prompt: true, class: "form-control"} %>
										</div>
										</br>

										 <div class="field">
											<%= f.label :tel %>
											<%= f.text_field :tel, class: "form-control"%>
										</div>
										</br>

										 <div class="field">
											<%= f.label :tel2 %>
											<%= f.text_field :tel2, class: "form-control" %>
										</div>
										</br>

										<div class="field">
											<%= f.label :email %>
											<%= f.text_field :email, class: "form-control" %>
										</div>
										</br>
									</div>
						            <!-- /.form-grouṕ -->
									<!--  NESTED ENDEREÇO FORM -->
									<div class="form-group">
										<%= f.fields_for :endereco do |endereco_fields| %>
										<h2>Endereço</h2>
										</br>
											 <div class="field">
												<%= endereco_fields.label :rua %>
												<%= endereco_fields.text_field :rua , class: "form-control" %>
											</div>
											</br>
											 <div class="field">
												<%= endereco_fields.label :numero %>
												<%= endereco_fields.text_field :numero, class: "form-control" %>
											</div>
											</br>
											 <div class="field">
												<%= endereco_fields.label :complemento %>
												<%= endereco_fields.text_field :complemento, class: "form-control" %>
											</div>
											</br>
											 <div class="field">
												<%= endereco_fields.label :bairro %>
												<%= endereco_fields.text_field :bairro, class: "form-control" %>
											</div>
											</br>
											 <div class="field">
												<%= endereco_fields.label :cidade %>
												<%= endereco_fields.text_field :cidade, class: "form-control" %>
											</div>
											</br>
											 <div class="field">
												<%= endereco_fields.label :estado %>
												<%= endereco_fields.select :estado, options_for_states(@cliente.endereco.estado),{prompt: true},{class: "form-control"} %>
											</div>
											</br>
											 <div class="field">
												<%= endereco_fields.label :cep %>
												<%= endereco_fields.text_field :cep, class: "form-control" %>
											</div>
											</br>
										<%end%>
										</br>
									</div>
									<!-- END ENDEREÇO FORM -->
	                            </div>
	                            <!-- END FIRST COLLAPSIBLE GROUP (INFORMAÇÕES PESSOAIS)-->
	                        </div>
	                    </div>
	                    <div class="panel panel-default">
	                        <div class="panel-heading">
	                            <h4 class="panel-title">
	                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">CARGOS EXERCÍDOS</a>
	                            </h4>
	                        </div>
	                        <div id="collapseTwo" class="panel-collapse collapse">
	                            <div class="panel-body">
									<!-- NESTED POSITIONS FORM -->
									<div class="form-group">
										<div id="positions"> 
											<%= f.fields_for :positions do |positions_fields| %>
												<%= render partial: 'position_fields', locals: { f: positions_fields} %>
											<%end%>
											</br>
											<%= link_to_add_association f, :positions do %>
												<button type="button" class="btn btn-primary btn-lg btn-block">Adicionar cargo</button>
											<% end %>
										</div>
										</br>
										</br>
									</div>
									<!-- END FORM -->
	                            </div>
	                            <!-- END SECOND COLLAPSIBLE GROUP (CARGOS EXERCÍDOS) -->
	                        </div>
	                    </div>
	                    <div class="panel panel-default">
	                        <div class="panel-heading">
	                            <h4 class="panel-title">
	                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">EMPRESTIMOS</a>
	                            </h4>
	                        </div>
	                        <div id="collapseThree" class="panel-collapse collapse">
	                            <div class="panel-body">
				                    <!-- NESTED EMPRESTIMOS FORM -->
									<div class="form-group">
										<div id="emprestimos"> 
											<%= f.fields_for :emprestimos do |emprestimos_fields| %>
												<%= render partial: 'emprestimo_fields', locals: { f: emprestimos_fields} %>
											<%end%>
											</br>
											<%= link_to_add_association f, :emprestimos do %>
												<button type="button" class="btn btn-primary btn-lg btn-block">Adicionar empréstimo</button>
											<% end %>
										</div>
										</br>
										</br>
									</div>
									<!-- END FORM -->
	                            </div>
	                            <!-- END THIRD COLLAPSIBLE GROUP (EPRESTIMOS) -->
	                        </div>
	                    </div>
	                    </br>
						</br>
	                    <button type="submit" class="btn btn-success">Salvar</button>
	                </div>
	            </div>
	            <!-- .panel-body -->
            <% end %>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>