<!-- 
<%=form_tag("/clientes", method: "post") do %>
	
	 <% if @cliente.errors.any? %>
		<div id="error_explanation">
			<h2>Descobrimos <%= pluralize(@cliente.errors.count, "erro") %> no preenchimento do formulário :(</h2>

			<ul>
			<% @cliente.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	
		Nome: <%= text_field "cliente", "nome", "size" => 45 %></br>


		CPF: <%= text_field "cliente", "cpf", "size" => 19 %>

	
		RG: <%= text_field "cliente", "rg", "size" => 19 %></br>

		
		Nascimento: <%=date_select "cliente", "data_nasc", :start_year => 1910, :order => [:day, :month, :year]%></br>

	
		Matricula: <%= text_field "cliente", "matricula", "size" => 41 %></br>

	
		Senha: <%= text_field "cliente", "senha", "size" => 45 %></br>

		
		Orgão: <%= text_field "cliente", "orgao", "size" => 45 %></br>

	
	Telefone: <%= telephone_field "cliente", "tel", "size" => 17 %>

	
	Cel: <%= telephone_field "cliente", "tel2", "size" => 16 %></br>

	
		Convênio: <%= text_field "cliente", "convenio", "size" => 41 %></br>

		
		Email: <%= email_field"cliente", "email", "size" => 45 %></br></br>

		<%= submit_tag "Salvar" %>

<%end%> -->


<%= form_for(@cliente) do |f| %>
 <% if @cliente.errors.any? %>
		<div id="error_explanation">
			<h2>Descobrimos <%= pluralize(@cliente.errors.count, "erro") %> no preenchimento do formulário :(</h2>

			<ul>
			<% @cliente.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<h2>Informações Pessoais</h2>
	</br>

	<div class="field">
		<%= f.label :nome %>
		<%= f.text_field :nome %>
	</div>
	</br>

	<div class="field">
		<%= f.label :cpf %>
		<%= f.text_field :cpf %>
	</div>
	</br>

	<div class="field">
		<%= f.label :rg %>
		<%= f.text_field :rg %>
	</div>
	</br>

	<div class="field">
		<%= f.label :data_nasc %>
		<%= f.date_select :data_nasc, :start_year => 1999, :end_year => 1917 %>
	</div>
	</br>

	<div class="field">
		<%= f.label :matricula %>
		<%= f.text_field :matricula %>
	</div>
	</br>

	<div class="field">
		<%= f.label :senha %>
		<%= f.text_field :senha %>
	</div>
	</br>

	 <div class="field">
		<%= f.label :orgao %>
		<%= f.text_field :orgao %>
	</div>
	</br>

	 <div class="field">
		<%= f.label :tel %>
		<%= f.text_field :tel %>
	</div>
	</br>

	 <div class="field">
		<%= f.label :tel2 %>
		<%= f.text_field :tel2 %>
	</div>
	</br>

	 <div class="field">
		<%= f.label :convenio %>
		<%= f.text_field :convenio %>
	</div>
	</br>

	<div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	</br>



	<!--  NESTED ENDEREÇO FORM -->
		<%= f.fields_for :endereco do |endereco_fields| %>

		<h2>Endereço</h2>
		</br>

			 <div class="field">
				<%= endereco_fields.label :rua %>
				<%= endereco_fields.text_field :rua %>
			</div>
			</br>

			 <div class="field">
				<%= endereco_fields.label :numero %>
				<%= endereco_fields.text_field :numero %>
			</div>
			</br>

			 <div class="field">
				<%= endereco_fields.label :complemento %>
				<%= endereco_fields.text_field :complemento %>
			</div>
			</br>

			 <div class="field">
				<%= endereco_fields.label :bairro %>
				<%= endereco_fields.text_field :bairro %>
			</div>
			</br>

			 <div class="field">
				<%= endereco_fields.label :cidade %>
				<%= endereco_fields.text_field :cidade %>
			</div>
			</br>

			 <div class="field">
				<%= endereco_fields.label :estado %>
				<%= endereco_fields.select :estado, options_for_states(@cliente.endereco.estado) %>
			</div>
			</br>

			 <div class="field">
				<%= endereco_fields.label :cep %>
				<%= endereco_fields.text_field :cep %>
			</div>
			</br>
		<%end%>
		</br>

	<!-- END FORM -->
 
	<!-- NESTED EMPRESTIMOS FORM -->

		<div id="emprestimos"> 
			<%= f.fields_for :emprestimos do |emprestimos_fields| %>
				<h2>Emprestimos</h2>
				<%= render partial: 'emprestimo_fields', locals: { f: emprestimos_fields} %>
			<%end%>
			</br>
				<%= link_to_add_association 'Adicionar emprestimo', f, :emprestimos %>
		</div>
		</br>
		</br>

	 <!-- END FORM -->

	 <div class="actions">
		<%= f.submit %>
	</div>
	</br>
	</br>
<% end %>

